<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <%- include ("./partials/header.ejs") %>
    <div class="container">

        <div class="banner"></div>
        <div>
            <h2>Administrador de Usuarios</h2>
            <ul>
            <% for( let i = 0; i < usuarios.length; i++ ) { %>
            <div class="d-flex">
                <label for="apellido"> <%= usuarios[i].apellido %> <%= usuarios[i].nombre %> </label>
            </div>
             <% } %>
            </ul>
        </div>


    </div> 
    <%- include ("./partials/footer.ejs") %> 
</body>
</html>