<%- include('partials/header.ejs')%>
<div class="container">
   <div class="form form-abm">
      <h2>Ingreso de usuario</h2>
      <div class="card">
         <form class='formulario' action="/users/login" method="POST">
            <div class='form-group col-md-10 ml-2 mt-2'>
                <i class="fas fa-envelope icon"></i>
                <label for="email"> Email</label>     
                <input class="form-control border" id="email" name="email" type="email" placeholder="" style="font-style:italic" value=<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>>
                
                <small style="color: red">
                    <%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : "" %> 
                </small>
            </div>
            
           <div class='form-group col-md-10 ml-2 mt-2'>
                <i class="fas fa-key icon"></i>
                <label for="email">Clave de acceso</label>     
                <input class="form-control border" id="pasword" name="pasword" type="password" placeholder="" style="font-style:italic" value=<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>>
                <small style="color: red">
                    <%= (typeof errors != 'undefined' && errors.pasword) ? errors.pasword.msg : "" %> 
                </small>
            </div>
           <div class="d-flex justify-content-center">
                <a href="/"><button class="btn btn-secundary m-2 btn-lg"  type="button"><i class="fas fa-undo-alt"></i> Cerrar</button></a> 
                <button class='btn btn-success m-2 btn-lg' type="submit" onclick="validarCamposLogin()" value='Ingresar'>Ingresar</button>
            </div> 
            <div class="form-group col-md-10 ml-2 mt-2">     
                <a href="#">Recuperar Contraseña</a> <br>
                <a href="./register">Registrarse</a>
            </div>
           
        </form>
      
   </div>
</div>
<script type="text/javascript" src="../validations/validarCamposLogin.js"></script>
<%- include('partials/footer.ejs')%>   
